name: aws-api-test

on:
  pull_request:
    branches: ['develop-add-tests'] # for testing purpose, added develop-add-tests
  push:
    branches: ['develop', 'develop-add-tests'] # for testing purpose, added develop-add-tests
  workflow_dispatch: # allow workflow to be manually triggered


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Activate a virtual environment 
        run: |
          pip install --upgrade pip
          python3.10 -m venv venv
          source venv/bin/activate

      - name: Install dependencies
        run: pip3 install -r requirements.txt

      - name: Generate manifest test
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: python APITests/manifest-generator.py

      - name: Commit files
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -a -m "Updated latency.csv"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: develop-update-latency


      - name: Create pull request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr create -B develop -H develop-update-latency --title 'Updated latency' --body 'Created by Github action'




